#sidebar {
	font-family: 'Lato', sans-serif;
	height: 100%;
	width: 200px;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	background-color: #A4A4A4;
	z-index: 1;
	text-align: center;
	overflow: auto;
}

#sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 1.4vw;
  color: black;
  display: block;
}

#sidebar a:hover {
	color: #f1f1f1;
	background-color: #b08a82;
	transition:all 0.5s ease;
	transform-origin: center;
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}