@import 'styles/style_constants';

.image-panel-container img {
    max-width: 60vw;
    max-height: 60vh;
    transition: all 1.2s ease;
    -webkit-transition: all 1.2 ease;
}

.image-panel-container img:hover {
    filter: grayscale(1);
    transition: all 1.2s ease;
    -webkit-transition: all 1.2s ease;
}

@media screen and (orientation: portrait) {
    .home-img-section img:hover {
        filter: none;
    }
}
