@import 'styles/style_constants';

.image-panel-container img {
    max-width: 60vw;
    max-height: 60vh;
    transition: all 1.2s ease;
    -webkit-transition: all 1.2 ease;
    cursor: zoom-in;
}

.image-panel-container img:hover {
    filter: grayscale(1);
    transition: all 1.2s ease;
    -webkit-transition: all 1.2s ease;
}

.img-enlarge img {
    transform: scale(2);
    cursor: zoom-out;
}

@media screen and (orientation: portrait) {
    .image-panel-container img {
        cursor: default;;
    }

    .home-img-section img:hover {
        filter: none;
    }

    .img-enlarge img {
        cursor: normal;
    }
}
