.ie-error {
    height: 100%;
    width: 100%;
    font-size: 3vh;
    text-align: center;
}

@media screen and (orientation: portrait) {
    .ie-error {
        font-size: 3vw;
    }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    body {
        overflow: hidden;
    }
}
