.key_tech_icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.key_tech_icons img {
    margin: 1em;
    transform: rotate(0deg) scale(1.0);
    transition: all 1.5s ease;
}

.key_tech_icons img:hover {
    transform: scale(0.5);
    transition: all 1.0s ease;
}

.key_tech-icon {
    max-height: 15vh;
    max-width: 15vw;
}

@media screen and (orientation: portrait) {
    .key_tech_icons img img:hover {
        transform: none;
        transition: none;
    }

    .key_tech_icons img:hover {
        transform: none;
        transition: none;
    }

    .key_tech-icon {
        max-height: 20vh;
        max-width: 20vw;
    }
}
