.technology-items ul {
    text-align: center;
    list-style-type: none;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.technology-items li {
    margin: 0.6em;
}

@media screen and (orientation: portrait) {
    .technoloy-items ul {
        width: 70%;
        columns: 1;
        -webkit-columns: 1;
        -moz-columns: 1;
    }
}
