.projects-items ul {
    text-align: center;
    list-style-type: none;
}

.projects-items li {
    margin: 0.6em;
}

@media screen and (orientation: portrait) {
    .projects-items ul {
        text-align: left;
        width: auto;
    }
}
