 .education-items ul {
    text-align: center;
    list-style-type: none;
}

.education-items li {
    margin: 0.6em;
}

@media screen and (orientation: portrait) {
    .education-items ul {
        width: 70%;
    }
}
