@import 'styles/style_constants.scss';

.education-items h4 {
    margin: 0;
}

.education-items ul {
    text-align: center;
    list-style-type: none;
}

.education-items li {
    margin: $home-list-margin;
}
