/*
	TODO:
	When a collapsed bio is active, the arrow should point down
	The bios should fade in when clicked
*/

.resumeItems {
	font-size: 30px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.resumeItems > * {
	list-style-type: none;
}

.resume-list-item:hover {
	cursor: pointer;
	transition:all 0.5s ease;
	color: #669999;
}

.collapse-bio {
	font-size: 20px;
}

.side-arrow {
	border: solid black;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 6px;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.resume-list-item:hover .side-arrow {
	transition:all 1.0s ease;
	transform: rotate(315deg);
	-webkit-transform: rotate(315deg);
}