@import 'styles/style_constants';

.home-img-section {
    background-color: $header-background-color;
    border: 1em solid $header-background-color;
    font-size: $home-img-sect-font-size;
}

.home-img-section img {
    display: block;
    margin: 0 auto 0 auto;
    max-width: 60vw;
    max-height: 60vh;
    width: auto;
    height: auto;
    transition: all 1.2s ease;
    -webkit-transition: all 1.2 ease;
}

.home-img-section img:hover {
    filter: grayscale(1);
    transition: all 1.2s ease;
    -webkit-transition: all 1.2s ease;
}

.inactive-landing-img {
    display: none;
}

.home-img-section h1 {
    color: rgb(138, 138, 138);
    font-size: 7vh;
}

.post-h1-break {
    border-bottom: 0.2em solid white;
    margin: 0vh 1vw 2vh 1vw;
    opacity: 0.7;
}

.home-img-section p {
    font-size: 1em;
    color: rgb(138, 138, 138);
    font-style: italic;
}

.separator-dot {
    font-size: 5em;
    color: #333;
}

.photo-click-caption {
    display: none;
}

@media screen and (orientation: portrait) {
    @keyframes color-change {
        0% { color: inherit; }
        50% { color: rgb(153, 153, 94); }
        100% { color: inherit; }
    }

    .home-img-section {
        font-size: 3vh;
        margin-top: 1vh;
    }
    
    .home-img-section h1 {
        font-size: 4vh;
    }

    .home-img-section img {
        max-width: 100%;
        max-height: 100%;
    }

    .home-img-section img:hover {
        filter: none;
    }

    .photo-click-caption {
        display: block;
        animation: color-change 1s infinite;
    }
}
