@import 'styles/style_constants';

.home-img-section {
    background-color: $header-background-color;
    border: 1em solid $header-background-color;
    font-size: $home-img-sect-font-size;
}

.home-img-section {
    color: rgb(138, 138, 138);
}

.home-img-section h1 {
    font-size: 7vh;
}

.post-h1-break {
    border-bottom: 0.2em solid white;
    margin: 0vh 1vw 2vh 1vw;
    opacity: 0.7;
}

.separator-dot {
    font-size: 5em;
    color: #333;
}

@media screen and (orientation: portrait) {
    .home-img-section {
        font-size: $home-img-sect-mobile-font-size;
        margin-top: 1vh;
    }
    
    .home-img-section h1 {
        font-size: 4vh;
    }
}
