@import 'styles/style_constants';

.Home {
    max-width: $home-max-width;
    height: 100%;
    padding: 0 $home-hor-padding 7vh $home-hor-padding;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: $home-font-size;
    position: relative;
    margin: 10vh 0 0 0;
}

.Home h1 {
    font-size: 6vh;
}

.home-item {
    margin: $home-item-margin-hor $home-item-margin-vert $home-item-margin-hor $home-item-margin-vert;
    border-bottom: 0.25em solid black;
}

.home-menu-items {
    background-color: lightgrey;
    margin: 2vh 0 0 0;
    opacity: 0.85;
    box-shadow: $home-item-box-shadow;
    -webkit-box-shadow: $home-item-box-shadow; 
    border: 1em solid black;
    overflow: hidden;
    word-wrap: break-word;
}

.home-menu-items ul {
    padding: 0;
}

@media screen and (orientation: portrait) {
    .Home {
        width: 70vw;
        padding: 0 5vw 2vh 5vw;
        font-size: 2.5vh;
        margin: 0 0 0 16vw;
    }

    .Home h1 {
        font-size: 4vh;
    }

    .home-menu-items {
        border: none;
    }
}
