.gallery  > img {
  display: block;
  max-height: 90vh;
  max-width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

img:hover {
    transition:all 0.5s ease;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    transform-origin: bottom left;
}