.Header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    background-color: #333;
    z-index: 1;
    font-size: 3vh;
    width: 100%;
    height: 9vh;
    position: fixed;
}
  
.Header a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 0.8em 1.8em;
    text-decoration: none;
    font-size: 100%;
}
  
.Header a:hover {
    background-color: #ddd;
    color: black;
}

.scroll-arrow {
    width: 2em;
    font-size: 2em;
    color: white;
    text-align: center;
}

.scroll-arrow:hover {
    background-color: #ddd;
    color: black;
}

.anchor {
    display: block;
    height: 9vh;
    margin: -9vh 0 0 0;
    visibility: hidden;
 }

@media screen and (orientation: portrait) {
    .Header {
        flex-direction: column;
        max-width: 20vw;
        max-height: 50vh;
        height: inherit;
        justify-content: start;
        padding: 2vh 2vw 2vh 0;
        margin: 20vh 0 2vh 0;
        border-radius: 5em 5em 5em 5em;
    }

    .Header > div {
        margin: 1vh 0 1vh 0;
        overflow: hidden;
    }

    .Header a {
        font-size: 2.6vw;
    }

    .scroll-arrow {
        width: auto;
        font-size: 5vh;
        padding: 0 0 1vh 0;
    }

    .anchor {
        height: 0vh;
        margin: 0vh 0 0 0;
     }
}
