@import '../../styles/style_constants.scss';

.Header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    background-color: #333;
    z-index: 1;
    font-size: 3vh;
    width: 100%;
    height: 9vh;
    position: fixed;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
  
.Header a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 0.8em 1.8em;
    text-decoration: none;
}
  
.Header a:hover {
    background-color: #ddd;
    color: black;
}

.scroll-arrow-up {
    width: 2em;
    font-size: 2em;
    color: white;
    text-align: center;
}

.scroll-arrow-down {
    width: 2em;
    font-size: 2em;
    color: white;
    text-align: center;
}

.scroll-arrow-up:hover, .scroll-arrow-down:hover {
    background-color: #ddd;
    color: black;
}

.anchor {
    display: block;
    height: $anchor-tag-height;
    margin: $anchor-tag-reverse-height 0 0 0;
    visibility: hidden;
 }

@media screen and (orientation: portrait) {
    .Header {
        flex-direction: column;
        max-height: 50vh;
        max-width: 22vw;
        height: inherit;
        width: 20vw;
        justify-content: start;
        padding: 2vh 0 2vh 0;
        margin: 20vh 0 2vh 0;
        border-radius: 0 5em 5em 0;
    }

    .Header div a {
        padding-left: 2.8vw;
        font-size: 2.4vw;
        width: 10vw;
    }

    .scroll-arrow-up {
        width: 16vw;
        font-size: 4vh;
        padding: 0 0 1vh 0;
        border-radius: 0 100em 5em 0;
    }
    
    .scroll-arrow-down {
        width: 16vw;
        font-size: 4vh;
        padding: 0 0 1vh 0;
        border-radius: 0 5em 100em 0;
    }

    .anchor {
        height: 0vh;
        margin: 0vh 0 0 0;
     }
}
