@import 'styles/style_constants.scss';

.Header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    background-color: $header-background-color;
    z-index: 1;
    font-size: $header-font-size;
    width: 100%;
    height: $anchor-tag-height;
    position: fixed;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
  
.Header a {
    float: left;
    color: $header-url-color;
    text-align: center;
    padding: 0.8em 1.8em;
    text-decoration: none;
}
  
.Header a:hover {
    background-color: $header-highlight-background-color;
    color: black;
}

.scroll-arrow-up {
    width: $scroll-arrow-size;
    font-size: $scroll-arrow-size;
    color: $scroll-arrow-color;
    text-align: center;
}

.scroll-arrow-down {
    width: $scroll-arrow-size;
    font-size: $scroll-arrow-size;
    color: $scroll-arrow-color;
    text-align: center;
}

.scroll-arrow-up:hover, .scroll-arrow-down:hover {
    background-color: $header-highlight-background-color;
    color: black;
}

.anchor {
    display: block;
    height: $anchor-tag-height;
    margin: $anchor-tag-reverse-height 0 0 0;
    visibility: hidden;
 }

@media screen and (orientation: portrait) {
    .Header {
        flex-direction: column;
        height: inherit;
        width: $header-mobile-width;
        justify-content: start;
        padding: 2vh 0 2vh 0;
        margin: 20vh 0 2vh 0;
        border-radius: 0 5em 5em 0;
    }

    .Header div a {
        padding-left: 2.8vw;
        font-size: 2.6vw;
        width: 10vw;
    }

    .scroll-arrow-up {
        width: $scroll-arrow-mobile-width;
        font-size: $scroll-arrow-mobile-size;
        padding: 0 0 1vh 0;
        border-radius: 0 $scroll-arrow-border-radius-right $scroll-arrow-border-radius-bottom 0;
    }
    
    .scroll-arrow-down {
        width: $scroll-arrow-mobile-width;
        font-size: $scroll-arrow-mobile-size;
        padding: 0 0 1vh 0;
        border-radius: 0 $scroll-arrow-border-radius-bottom $scroll-arrow-border-radius-right 0;
    }

    .anchor {
        height: 0;
        margin: 0 0 0 0;
     }
}
