@import 'styles/style_constants.scss';

.software-items ul {
    text-align: center;
    list-style-type: none;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.software-items li {
    margin: $home-list-margin;
}
