@import 'styles/style_constants.scss';

.software-items ul {
    list-style-type: none;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.software-items li {
    margin: 1em 0;
}

.software-items img {
    max-width: 30vw;
    max-height: 30vh;
    transform: rotate(0deg) scale(1.0);
    transition: all 1.5s ease;
}

.software-items img:hover {
    transform: rotate(360deg) scale(0.5);
    transition: all 1.5s ease;
}

.software-items img:active {
    transform: scale(1.0) scale(0.5) scale(1.0) scale(0.5);
    transition: all 0.5s ease;
}

@media screen and (orientation: portrait) {
    .software-items li {
        margin: $home-list-margin;
    }

    .software-items img {
        max-width: 18vw;
        max-height: 18vh;
        transform: none;
        transition: none;
    }

    .software-items img:hover {
        transform: none;
    }    
}