.experience-company-logo {
    max-height: 30vh;
    max-width: 30vw;
    margin-top: 1vh;
}

.experience-calendar-container {
    display: grid;
    grid-template-columns: auto 50%;
    column-gap: 0.5vw;
    justify-items: center;
    margin: 1vh 1vw;
    pointer-events: none;
}

.date-item-label {
    border-bottom: solid black 0.1vh;
    margin: 0 3vw;
    font-weight: bold;
}

@media screen and (orientation: portrait){ 
    .experience-company-logo {
        max-height: 50vh;
        max-width: 50vw;
    }
    
    .experience-calendar-container {
        grid-template-columns: none;
        grid-template-rows: 50% 50%;
        row-gap: 2vh;
    }
}
