.Footer {
    width: inherit;
    opacity: 0.9;
}

.footer-content {
    max-width: 80vw;
    padding: 0 20vw 0 20vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.footer-content img {
    max-height: 20vh;
    height: auto;
    width: auto;
    padding: 0 0.2em 0 0.2em;
    transition: all 0.5s ease;
    transform-origin: bottom;
    transform: scale(1.0);
}

.footer-content img:hover {
    transition: all 0.5s ease;
    transform-origin: bottom;
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
}

@media screen and (orientation: portrait) {
    .footer-content {
        max-width: 100vw;
        padding: 0 5vw 0 5vw;
    }

    .footer-content img {
        max-height: 10vh;
        padding: 0 0.2em 0 0.2em;
        transform: none;
        transition: none;
    }

    .footer-content img:hover {
        transition: none;
        transform-origin: none;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }
}

// Fixes issues with Edge alignment
@supports (-ms-ime-align: auto) {
    .footer-content {
        justify-content: center;
    }

    .footer-content img {
        padding: 0 2vw 0 2vw;
    }
}

// Fixes issues with Internet Explorer alignment
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .footer-content {
        justify-content: center;
    }

    .footer-content img {
        padding: 0 2vw 0 2vw;
    }
 }
 