html, body {
	height: 100%;
	position: relative;
}

#app {
	min-height: 100vh; /* Cover the 100% of viewport */
	overflow: hidden;
	display: block;
	position: relative;
	padding-bottom: 150px; /* Height of the footer */
}

#central > div { /* Center items in the middle of the non-sidebar */
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#footer-div {
	position: absolute;
	bottom: 0;
	width: 100%;
}