#app {
	display: flex;
	flex-wrap: nowrap;
}

#central > div {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#sidebar {
	flex: 0 0 65%;
}

#not-sidebar {
	flex: 1;
}

#footer-div {
	position: relative;
	bottom: 0;
	padding-top: 300px; /*Workaround for positioning*/
}