#footer-table {
    width: 100%;
    background-color: rgb(233, 236, 239);
}

.footer_img {
    max-width: 100px;
    max-height: 100px;
}

a {
    display: table;
    position: relative;
    height: 100%;
    width: 100%;
}

span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#first-row {
    padding-left: 200px;
}

#last-row {
    padding-right: 200px;
}