#footer-div {
    position: relative;
    width: 100%;
}

#footer-table {
    width: 100%;
    background-color: rgb(233, 236, 239);
}

.footer_img {
    max-width: 100px;
    max-height: 100px;
}

.footer_img:hover {
    transition:all 0.5s ease;
    border: 10px solid #d0d0d0;
    transform-origin: bottom;
    -webkit-transform: scale(1.7);
    -ms-transform: scale(1.7);
    transform: scale(1.7);
}

.footer-url {
    display: table;
    height: 100%;
    width: 100%;
}

.footer-span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#first-row {
    padding-left: 250px;
}

#last-row {
    padding-right: 250px;
}

