#footer-div {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#footer-table {
    width: 100%;
    background-color: rgb(233, 236, 239);
}

.footer_img {
    max-width: 100px;
    max-height: 100px;
}

.footer-url {
    display: table;
    height: 100%;
    width: 100%;
}

.footer-span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#first-row {
    padding-left: 200px;
}

#last-row {
    padding-right: 200px;
}