@import 'styles/style_constants.scss';

.list-items ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.list-items li {
    margin: $home-list-margin;
}

.info-item-banner {
    height: 5em;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: $banner-item-font-size;
    background-color: $banner-background-color;
}

.info-item-banner:hover {
    background-color: $banner-background-hover-color;
    color: $banner-font-hover-color;
}

.info-item-banner:before {
    content: '\2192';
    padding-right: 100%;
}

.info-item-banner-opened:before {
    content: '\2193';
}

.info-item-para {
    height: auto;
    width: 100%;
    background-color: $banner-para-color;
    overflow: hidden;
}

.info-item-para-inactive {
    display: none;
}

@media screen and (orientation: portrait) {
    .info-item-banner:hover {
        background-color: $banner-background-color;
        color: inherit;
    }
}
